[submodule "nvim/nvim/pack/nvim/start/nvim-lspconfig"]
	path = nvim/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/nvim-tree.lua"]
	path = nvim/nvim/pack/nvim/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/plenary.nvim"]
	path = nvim/nvim/pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/telescope.nvim"]
	path = nvim/nvim/pack/nvim/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/nvim-web-devicons"]
	path = nvim/nvim/pack/nvim/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/lualine"]
	path = nvim/nvim/pack/nvim/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/treesitter"]
	path = nvim/nvim/pack/nvim/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/diffview.nvim"]
	path = nvim/nvim/pack/nvim/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/todo-comments.nvim"]
	path = nvim/nvim/pack/nvim/start/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/themery.nvim"]
	path = nvim/nvim/pack/nvim/start/themery.nvim
	url = https://github.com/zaldih/themery.nvim.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/catppuccin"]
	path = nvim/nvim/pack/nvim/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/gitsigns.nvim"]
	path = nvim/nvim/pack/nvim/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/cmp-nvim-lsp"]
	path = nvim/nvim/pack/nvim/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/cmp-buffer"]
	path = nvim/nvim/pack/nvim/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/cmp-path"]
	path = nvim/nvim/pack/nvim/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/cmp-cmdline"]
	path = nvim/nvim/pack/nvim/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/nvim-cmp"]
	path = nvim/nvim/pack/nvim/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
	branch = main
[submodule "nvim/nvim/pack/nvim/start/LuaSnip"]
	path = nvim/nvim/pack/nvim/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
	branch = master
[submodule "nvim/nvim/pack/nvim/start/cmp_luasnip"]
	path = nvim/nvim/pack/nvim/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
	branch = master
